In [5]:
import pandas as pd
import csv

DATAFRAME

In [6]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

DataFrame with noninteger values

In [12]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Ashley': ['Pretty good.', 'Bland.'],\
               'Travis': ['It was okay.', 'I did not like it.']})

             Bob        Ashley              Travis
0    I liked it.  Pretty good.        It was okay.
1  It was awful.        Bland.  I did not like it.

Data Frame with an row name

In [21]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Ashley': ['Pretty good.', 'Bland.'],
              'Travis' : ['It was okay.', 'I did not like it.']},
             index=['Clydes Brew', 'Clydes Coffee',])

                         Bob        Ashley              Travis
Clydes Brew      I liked it.  Pretty good.        It was okay.
Clydes Coffee  It was awful.        Bland.  I did not like it.

A series, kind of like a dataframe but less

In [23]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

A series when you only need one column of data and a row name

In [8]:
pd.Series([90,95,40] \
          ,index=['Python grade', 'Linux Grade', 'Assembly Grade'], \
            name='Grades')

Python grade      90
Linux Grade       95
Assembly Grade    40
Name: Grades, dtype: int64

A dataframe is just a bunch of series glued together.

read from a csv file

In [7]:
pandemic_stats=pd.read_csv('pandemic_stats.csv')
pandemic_stats.shape

(272, 6)

we probably want to preview our material but not look at all of it
we can do that with the head command
head() will default to 5 rows. or we can add an int to decide how many rows we want to preview

In [56]:
pandemic_stats.head(2)

,Unnamed: 0,Epidemics/pandemics,Disease,Death toll,Date,Location
0,0,Black Death,Bubonic plague,75–200 million,1346–1353,"Europe, Asia, and North Africa"
1,1,Spanish flu,Influenza A/H1N1,17–100 million,1918–1920,Worldwide

the first column here is unnammed because it just represents the row number. we should establish that's what that is so we don't double document

In [9]:
pandemic_stats=pd.read_csv('pandemic_stats.csv', index_col=0)
pandemic_stats.head(2)

,Epidemics/pandemics,Disease,Death toll,Date,Location
0,Black Death,Bubonic plague,75–200 million,1346–1353,"Europe, Asia, and North Africa"
1,Spanish flu,Influenza A/H1N1,17–100 million,1918–1920,Worldwide

our dataframe works similar to python objects. this allows us to access parts of our table the same way

In [10]:
pandemic_stats.head(3).Disease

0      Bubonic plague
1    Influenza A/H1N1
2      Bubonic plague
Name: Disease, dtype: object

In [11]:
pandemic_stats['Death toll'][1]

'17–100 million'

let's select data based on a row number

In [12]:
pandemic_stats.iloc[1]

Epidemics/pandemics         Spanish flu
Disease                Influenza A/H1N1
Death toll               17–100 million
Date                          1918–1920
Location                      Worldwide
Name: 1, dtype: object

In [17]:
pandemic_stats.loc[0][1]

'Bubonic plague'

iloc is for index location and works similar but different than the loc command

In [ ]:
pandemic_stats.loc[0:1,0]

In [22]:
pandemic_stats.iloc[0:1,0]

0    Black Death
Name: Epidemics/pandemics, dtype: object

In [23]:
pandemic_stats.iloc[:3,2]

0    75–200 million
1    17–100 million
2    15–100 million
Name: Death toll, dtype: object

In [26]:
pandemic_stats.head(1)

,Epidemics/pandemics,Disease,Death toll,Date,Location
0,Black Death,Bubonic plague,75–200 million,1346–1353,"Europe, Asia, and North Africa"

the first digit is the range of rows. : alone means everything or if inbetween ints it can be a range

In [25]:
pandemic_stats.iloc[:3,2:5]

       Death toll       Date                               Location
0  75–200 million  1346–1353         Europe, Asia, and North Africa
1  17–100 million  1918–1920                              Worldwide
2  15–100 million    541–549  North Africa, Europe and Western Asia

In [27]:
pandemic_stats.loc[0, 'Location']

'Europe, Asia, and North Africa'

In [35]:
pandemic_stats.loc[:4,[ 'Disease', 'Date']]

            Disease             Date
0    Bubonic plague        1346–1353
1  Influenza A/H1N1        1918–1920
2    Bubonic plague          541–549
3          HIV/AIDS     1981–present
4          COVID-19  2019[c]–present